<br>
<br>
<div class ="container">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> Wallet ID      </th>
      <th scope="col"> Wallet Name    </th>
      <th scope="col"> Wallet Balance </th>
      <th scope="col"> Actions to be performed </th>
    </tr>
    </thead>
  
    <tbody>
   <tr *ngFor="let wallet of wallets">
     <td>{{ wallet.WalletId }}</td>
     <td>{{ wallet.WalletName }}</td>
     <td>{{ wallet.WalletBalance }}</td>
    
     <td>
      <input type="button" class="btn btn-info" (click)="updateWallet(wallet)" value="Update" >
      <button class="btn btn-danger" style="margin-left: 10px" (click)="deleteWalletById(wallet.WalletId)"  > Delete </button>
    </td>

   </tr>
    </tbody>
  </table>
  
</div>
