<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon> android </mat-icon> Wallet Application </span>
     <div class="spacer"></div>
     <a mat-button routerLink="home" routerLinkActive="active" class="box"> Home </a>
     <a mat-button routerLink="add" routerLinkActive="active" class="box"> Add </a>
     <a mat-button routerLink="display" routerLinkActive="active" class="box"> Display </a>
     <a mat-raised-button color="warn" routerLinkActive="active" routerLink="registration" class="box"> Sign up </a>
   </mat-toolbar>
   
   
  
