
<mat-toolbar color="primary" class="mat-elevation-z8">
 <span><mat-icon> android </mat-icon> Wallet Application </span>
  <div class="spacer"></div>
  <a mat-button routerLink="home" routerLinkActive="active" class="box"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    Home </a>
  <a mat-button routerLink="add" routerLinkActive="active" class="box"> Add </a>
  <a mat-button routerLink="display" routerLinkActive="active" class="box"> Display </a>
  <a mat-raised-button color="warn" routerLinkActive="active" routerLink="registration" class="box"> Sign up </a>
  <a mat-raised-button color="warn" routerLinkActive="active" routerLink="login" class="box"> Login </a>
  <br>
  <a mat-button routerLink="profile" routerLinkActive="active"><mat-icon>account_circle</mat-icon></a>
</mat-toolbar>



<div class="container">
<router-outlet></router-outlet>
</div>